<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no"/>
    <title></title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        body {
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div id="container-game" touch-action="none"></div>
</body>
</html>
